body, html {
  height: 100%;
  color: #fff;
}

.bg {
  background-image: url(../img/bg-computer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-color: black;
}

.fade-top {
  background-image: linear-gradient(to bottom, rgba(80,80,80,1) 89%, rgba(80,80,80,0));
}

.fade-bottom {
  background-image: linear-gradient(to top, rgba(80,80,80,1) 89%, rgba(80,80,80,0));
}

.navbar-dark .navbar-toggler {
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,1);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}

.card {
  
  background-color:rgb(80, 80, 80, 0.95);
}

.footer {
  text-align: center;
  
}

@media(min-width: 980px){
 .card {
   width: 688px;
 }

}

